*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.outerPost{
  /* border: 3px solid goldenrod; */
  min-width:100%;
  /* height: 100vh; */
  margin-top: 4rem;
  padding-top: 3rem;
}
.box{
  /* border: 2px solid red; */
  width: 95%;
  height: 95%;
  padding: 4px;
  margin-left: 1.5rem;
  /* margin: 15px; */

}
input{
  height: 3rem;
  width: 30rem;
  padding-left: 1rem;
  font-size: 1.5rem;
}
.outterNav{
  /* border: 3px solid rebeccapurple; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  /* margin-top: 3rem; */
}
.innerpost{
  /* border: 2px solid red; */
  padding: 2rem;
  padding-bottom: 2rem;
}
button{
  padding: 10px;
  background-color: aquamarine;
  border: none;
  cursor: pointer;
  margin-left: 2rem;
  /* margin-top: 2rem; */
}